<head>
<title>bejeweledblitz</title>

</head>
<body>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0"
							width="511" height="385" id="gameFlash" align="middle">
								<param name="allowScriptAccess" value="always" />
								<param name="allowFullScreen" value="false" />
								<param name="movie" value="bejeweledfacebook.swf" />
								<param name="menu" value="false" />

								<param name="quality" value="high" />
								<param name="bgcolor" value="#ffffff" />
								<embed src="bejeweledfacebook.swf" menu="false" quality="high" bgcolor="#ffffff" width="511" height="385"
								name="gameFlash" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
							</object>


</body>